.home {
  height: calc(100vh - 64px);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.home-title {
  text-align: center;
  color: #efefef;
  font-size: 62px;
  line-height: 70px;
}

.home-title-wrapper {
  margin-bottom: 120px;
  text-align: center;
  color: #393939;
  font-size: 62px;
  line-height: 70px;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 64px);
  width: 100%;
  margin-top: 64px;
  background: rgba($color: #000000, $alpha: 0.7);
}
